<div class="container-books">
  <div class="selectSection ">
   <button type="button" data-number="1">Current bookings</button>
   <button type="button" data-number="2">Past bookings</button>
   <button type="button" data-number="3" class="active">Requests for my books</button>
  </div>

  <div class="contentSection cards">
    <% @bookings.each do |booking| %>
      <div class="booking-card content" data-number="1">
        <div class="card-product">
          <%= cl_image_tag booking.book.photo.key %>
          <div class="card-product-infos">
            <p class="small-p">From <%= booking.start_date%> to <%= booking.end_date %></p>
            <h2><%= link_to booking.book.title, book_path(booking.book) %></h2>
            <div class="card-text">
              <p><%= link_to "More info about this book", book_path(booking.book) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% @past_bookings.each do |booking| %>
      <div class="booking-card content" data-number="2">
        <div class="card-product">
          <%= cl_image_tag booking.book.photo.key %>
          <div class="card-product-infos">
            <p class="small-p">From <%= booking.start_date%> to <%= booking.end_date %></p>
            <h2><%= link_to booking.book.title, book_path(booking.book) %></h2>
            <div class="card-text">
              <p><%= link_to "More info about this book this is the second section", book_path(booking.book) %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% @books.each do |book| %>
      <div class="booking-card content" data-number="3">
        <div class="card-product">
          <%= cl_image_tag book.photo.key %>
          <div class="card-product-infos">
            <h2><%= link_to book.title, book_path(book) %></h2>
            <div class="card-text">
              <p><%= link_to "requests", book_path(book) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
