 <% if user_signed_in? %>

  <div class="welcome">
    <p>Welcome <%= current_user.first_name %></p>
    <div id="small-btn">
    <%= link_to "Go to my dashboard", user_bookings_path(:user_id) %>
    <%= link_to "All the books", books_path %>
    <%= link_to "Add a book", new_book_path %>
    </div>
  </div>

  <% else %>

  <div id="sign-in">
    <div class="welcome">
    <p>Welcome!</p>
    <p>Please <span class="button"><%= link_to "sign in", new_user_registration_path %></span> to enjoy the full experience of BookMyBook.</p>
    </div>
  </div>

  <% end %>
