
<div class="container">
<h1>Add a book</h1>
  <%= simple_form_for(@book) do |f| %>
  <div class="large-font">
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, 'Add book', class: "button" %>
  </div>
<% end %>
</div>
