<div class="banner">
  <div class="container">
    <h1>Add a book</h1>
  </div>
</div>

<div class="container-books">
  <%= simple_form_for(@book) do |f| %>
  <div class="large-font">
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, 'Save book', class: "button" %>
  </div>
<% end %>
</div>
