<div class="banner">
</div>
<div class="container-show">
  <div class="column">
    <div class="img">
      <%= cl_image_tag @book.photo.key %>
    </div>
  </div>
  <div class="column flex-column d-flex justify-content-between">
    <div class="head-show">
      <h1><%= @book.title %></h1>
      <span class="button-show">Rent me</span>
    </div>
    <h3><%= @book.author %></h3>
    <p><%= @book.category %></p>
    <p><%= @book.description %></p>
    <p><%= @book.address %></p>
    <div class="link-show">
      <i class="fas fa-hand-point-left"></i><%= link_to "  Go back to all books", books_path  %>
    </div>
  </div>
</div>
<div class="container-show">
  <div id="form-rent">
    <%= render "bookings/new", book: @book, booking: @booking %>
  </div>
</div>



