<!DOCTYPE html>
<html>
  <head>
    <title>BookMyBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <div class="navbar">
    <div>
      <%= image_tag "book-logo2.png", id: "logo" %>
  </div>
  <div><h1 id="title"><%= link_to BookMyBook, root_path %> </h1></div>
    <div>
      <% if user_signed_in? %>
        <%= image_tag "mama.png", class: "avatar" %>
        <% else %>
       <span id="login"><%= link_to "Log in", user_session_path %></span>
      <% end %>
    </div>
  </div>




  <body class="<%= @home_page ? 'homepage' : ''%>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
